Repository Archomeda/Gw2Sharp, pull requests merged in 2022-02, with the labels that each got.

#115 Add missing equipment tab slot name
  Gw2Sharp.Tests/TestFiles/Characters/CharactersIdEquipmentTabs.bulk.json
  Gw2Sharp.Tests/TestFiles/Characters/CharactersIdEquipmentTabs.single.json
  Gw2Sharp/WebApi/V2/Models/Characters/CharacterEquipmentTabSlot.cs
Labels: Type: Feature, Area: Web API v2

#114 Add MountType constants for Skiff and Siege Turtle
  Gw2Sharp/Models/MountType.cs
Labels: Type: Feature, Area: Web API v2

#111 Remove netcoreapp2.1 and add net6.0 for testing
  .github/workflows/ci.yml
  .github/workflows/command-test.yml
  .github/workflows/publish-version.yml
  .github/workflows/release.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/update-docs.yml
  Gw2Sharp.Tests/Gw2Sharp.Tests.csproj
Labels: Area: Tests, Area: Build, Type: Refactor

#116 Update GitTools reference
  .github/workflows/publish-version.yml
Labels: Area: Build
